<launch>

    <arg name="pacmod_can_hardware_id" default="20879"/>
    <arg name="pacmod_can_circuit_id" default="0"/>

    <group ns="pacmod">
  
        <node pkg="pacmod" type="pacmod" name="pacmod">
            <param name="can_hardware_id" value="$(arg pacmod_can_hardware_id)"/>
            <param name="can_circuit_id" value="$(arg pacmod_can_circuit_id)"/>
        </node>  
    
    </group>
  
</launch>
